{
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"arrowParens": "avoid",
	"trailingComma": "es5",
	"printWidth": 80,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
